<div mat-dialog-title>
    {{ "SUBJECTS.MANAGEMENT" | translate }}
</div>
<div
    [formGroup]="form"
    class="d-flex gap-3 align-items-center justify-content-between p-5"
    mat-dialog-content>
    <mat-form-field class="w-100">
        <mat-label>
            {{ "SUBJECTS.DESCRIPTION" | translate }}
        </mat-label>
        <input
            formControlName="description"
            matInput
            required />
        <button
            (click)="description.setValue('')"
            *ngIf="description.value"
            aria-label="Clear"
            class="clear-description"
            data-cy="description-clear"
            mat-icon-button
            matSuffix>
            <feather-icon name="x"></feather-icon>
        </button>
        <mat-error *ngIf="description.hasError('required')">
            {{ "COMMON.REQUIRED_FIELD" | translate }}
        </mat-error>
        <mat-error *ngIf="description.hasError('maxlength')">
            {{ "COMMON.MAX_LENGTH_ERROR" | translate: { max: 40 } }}
        </mat-error>
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <div class="d-flex justify-content-end flex-wrap py-2 px-5 gap-3 w-100">
        <button
            [disabled]="form.invalid"
            [mat-dialog-close]="form.value"
            color="primary"
            mat-flat-button>
            {{ "COMMON.SAVE" | translate }}
        </button>
        <button
            mat-dialog-close
            mat-flat-button>
            {{ "COMMON.CLOSE" | translate }}
        </button>
    </div>
</div>
