<div class="flags">
    <span
        (click)="onLocale('en')"
        [ngClass]="{ active: currentLang === 'en' }"
        [ngbTooltip]="'TRANSLATE.EN' | translate"
        class="cursor-pointer fi fi-um"></span>
    <span
        (click)="onLocale('pt-br')"
        [ngClass]="{ active: currentLang === 'pt-br' }"
        [ngbTooltip]="'TRANSLATE.PT' | translate"
        class="cursor-pointer fi fi-br"></span>
</div>
<div class="menu">
    <div
        [tabPanel]="tabPanel"
        mat-tab-nav-bar>
        <div
            *ngFor="let menu of MENU"
            [routerLink]="menu.path"
            mat-tab-link
            routerLinkActive="active">
            <span class="tab-name">{{ menu.title | translate }}</span>
        </div>
    </div>

    <div class="container">
        <mat-tab-nav-panel #tabPanel>
            <router-outlet></router-outlet>
        </mat-tab-nav-panel>
    </div>
</div>
