$secondary01: #1b272e;
$secondary02: #264446;
$secondary03: #9478fa;

$success: #4edb20;
$warn: #fec537;
$error: #ea4646;
$info: #2466d6;

$red-dark: #ff0d0d;
$red-light: #ff0d0d30;
$yellow-dark: #ffc700;
$yellow-light: #ffc70030;
$green-dark: #5ab642;
$green-light: #5ab64230;

// Fonts
$lato: "Lato", sans-serif;
$roboto: "Roboto", sans-serif;
